// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'frontend';
@import 'dashboard';

body {
    min-height: 100vh !important;
    background-color: lightgray !important;
}

.hidden {
    display: none;
}

.preview-file-input {
    img {
        max-width: 250px;
        max-heigth: 250px;
    }
}
