// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    min-height: 100vh !important;
    background-color: lightgray !important;
}

.beer-form {

    width: 90%;
    margin: 0 auto;

    &__labels {
        &__label {
            border: solid 1px gray;
            padding: 1em;
            display: block;
            margin: 0.5em;

            img {
                width: 150px;
                margin: 0 auto;
            }

            &__data {
                span {
                    width: 100%;
                }
                a {
                    width: 100%;
                }
            }
        }

    }

    input {
        width: 50%;
    }
}
