// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'frontend';
@import 'dashboard';

body {
    min-height: 100vh !important;
    background-color: lightgray !important;
}
/* TODO: move below rules to a common scss file */
.alert {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.preview-file-input {
    img {
        max-width: 250px;
        max-heigth: 250px;
    }
}

.label-badge {
    margin-left: 0.5em;
    margin-right: 0.5em;

    a {
        color: white;
    }
}

input {
    border: solid 1px lightgrey;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

input:focus {
    border-bottom: solid 3px $primary;
    margin-bottom: -2px;
}
