.beer-list {
    &__beer {
        width: 100%;
        display: flex;
        margin-bottom: .5em;
        border: 1px lightgray solid;
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
        cursor: pointer;
        color: black;

        &:hover {
            color: black;
            text-decoration: none;
            box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.5);
        }

        &__image {
            max-width: 15%;
            min-width: 66px;
            padding: 0.5em;

            img {
                width: 50px;
            }
        }

        &__data {
            min-width: 85%;
            padding: 0.5em;

            &__name {
                width:100%;
                font-size: large;
                text-overflow: ellipsis;
            }
            &__brewer {
                color: #6c757d !important;
                font-style: italic;
                font-size: small;
            }

            &__flag {
                img {
                    width: 20px;
                    margin-right: 0.5em;
                }
            }

            &__year-badge{
                margin-left: 0.5em;
            }
        }
    }
}
